<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.manager.mapper.BaseAttrInfoMapper">

    <insert id="insertNewInfo" parameterType="com.atguigu.gmall.manager.BaseAttrInfo" useGeneratedKeys="true" keyProperty="id">
        insert into base_attr_info(attr_name, catalog3_id) values(#{attrName}, #{catalog3Id});
    </insert>

</mapper>